html, body  {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: $medium-gray !important;

  nav {
    width: 100vw;
    background-color: $blue-black;
    border-radius: 0 !important;
    padding: 4px 0 !important;
    margin-bottom: 0 !important;

    .container {
      width: 100vw !important;
    }

    .navbar-right {
      margin-right: 28px !important;
      float: right !important;
    }

    .attribution, .home-icon {

      i, img {
        top: 50%;
        position: relative;
        transform: translateY(-50%);
      }
    }

    .attribution {
      width: 100px;
    }
  }

  .content {
    height: 100%;
    width: 100vw;
  }
}