.home {
  .container {
    width: 100vw !important;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    background-color: $medium-gray;

    .row.no-gutters {
      margin-right: 15px;
      margin-left: 0;
    }
    .row.no-gutters > [class^="col-"],
    .row.no-gutters > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }


    
    .jumbotron {
      width: 75%;
      margin: 0 auto 24px;
      border: 2px solid $blue-black;
      background-color: rgba(255,255,255,0.8);
    }

    .loader {
      text-align: center;
      margin: 0 auto;

      i {
        color: #FFFFFF
      }
    }

    .load-more {
      text-align: center;
      position: relative;
      margin: 0 auto;
      transform: translateY(75%);
      color: #FFFFFF;
      cursor: pointer;
    }

    .poster {
      min-width: 300px;
    }

    @media (max-width: 600px) {
      .jumbotron {
        width: 90%;
      }
    }
  }



}