.home {
  .container {
    width: 100vw !important;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    background-color: $medium-gray;

    .row.no-gutters {
      margin-right: 15px;
      margin-left: 0;
    }
    .row.no-gutters > [class^="col-"],
    .row.no-gutters > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }

    .sub-nav {
      background-color: $warm-orange;
      padding: 8px 24px;

      .sub-header {
        font-size: 24px;
        font-weight: bold;
      }
    }

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      margin: 0 auto;

      i {
        color: #FFFFFF
      }
    }

    .load-more {
      text-align: center;
      position: relative;
      margin: 0 auto;
      transform: translateY(75%);
      color: #FFFFFF;
      cursor: pointer;
    }

    .poster {
      background-size: cover;

      &.loaded {
        animation-duration: 1s;
        animation-name: fadeIn;
      }

      .expander {
        padding-bottom: 150%;
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}