.details-container {

  .details-content {
    height: 100%;
    padding: 24px 16px;
    background-color: rgba(255,255,255,0.4);

    .text-details {
      padding-left: 8px;
      list-style: none;

      a {
        color: $dark-teal;
      }

      h2 {
        font-style: italic;
      }

      h3 {
        text-decoration: underline;
      }
    }

    .vid-container {
      margin-top: 48px;
      margin-bottom: 48px;
    }
  }
}