.sort-container {

  .dropdown {
    margin: 0 auto;
    min-width: 250px;

    button {
      width: 100%;
    }
  }

  .dropdown-menu {
    min-width: 250px;

    li {

      padding: 4px 8px;

      &:hover {
        background-color: $dark-tan;
      }

      &.active {
        font-weight: bold;
      }
    }
  }
}